
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">{{pageTitle}}</div>
        <div class="pannel-body">
            <div class="container">
                <br>
                <Label for="filter">Filter by:</Label>
<input type="text" id="filter" [(ngModel)]='listFilter'>

            </div>
            <h4>Filtered by: {{listFilter}}</h4>
            <div class="table-responsive">
                <table class="table table-striped" *ngIf='products&&products.length'>
                    <tr>
                        <th>
                            <button class="button btn-primary" (click)='toggleImageHandler()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>

<tr *ngFor='let pdt of filteredProducts'>

<td>
<img *ngIf='showImage' src='{{pdt.imageUrl}}' [alt]='pdt.productName' [title]='pdt.productName | uppercase' [style.width.px]='thumbnailWidthInPx'>

</td>

                        <td>{{pdt.productName | uppercase}}</td>
                        <td>{{pdt.productCode | convertToSpaces:'-'}}</td>
                        <td>{{pdt.releaseDate}}</td>
                        <td>{{pdt.price | currency: 'AUD':true:'1.2-2'}}</td>
                        <td>{{pdt.starRating}} <pm-star [rating]='pdt.starRating' (clickEvent)='ratingClickedEventHandler($event)'></pm-star></td>
                    </tr>


                </table>

            </div>
        </div>
    </div>
</div>
